{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>About Digital Portal</h1>
                    <p class="lead my-4">
                        Welcome to Digital Portal, your one-stop solution for enhancing productivity and streamlining your daily tasks. Our platform is designed to simplify the complex and empower you with tools that make your work more efficient and enjoyable.
                    </p>
                    <p class="lead my-4">
                        At Digital Portal, we believe that technology should work for you, not the other way around. That's why we've created an intuitive and user-friendly platform that helps you manage your projects, track progress, and collaborate with your team seamlessly.
                    </p>
                    <p class="lead my-4">
                        Your daily work, simplified. Whether you’re managing a small team or overseeing multiple projects, Digital Portal provides the flexibility and features you need to stay organized and achieve your goals. Our tools are designed to adapt to your workflow, ensuring that you can focus on what really matters.
                    </p>
                    <p class="lead my-4">
                        Our mission is to design the best solutions for you and your team. We understand the challenges of modern work environments, and our goal is to provide innovative solutions that make your job easier. From project management to team collaboration, our platform is built to support you every step of the way.
                    </p>
                    <p class="lead my-4">
                        Join the Digital Portal community today and experience how our solutions can transform your work life. With our cutting-edge tools and dedicated support, you’ll be able to accomplish more with less effort. We’re here to help you succeed.
                    </p>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/showcase.svg' %}" alt="">
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}